# Fichier .gitignore

# Fichiers binaires et de construction
*.o
*.a
*.so
*.dylib
*.dll
*.exe
*.app
*.dSYM
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
*.user
*.log
*.sublime-project
*.sublime-workspace

# Directoires générés par CMake
cmake-build-debug/
cmake-build-release/

# Directoires générés par JUCE
JuceLibraryCode/
_build/

# Fichiers générés par Xcode
DerivedData/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

# Autres fichiers générés par les IDEs et éditeurs
.vscode/
.idea/
.vs/
*.sln
*.suo
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

# Autres fichiers et dossiers ignorés
*.DS_Store
*.swp
*.bak
*.tmp
*~

_deps/
build.ninja
.cmake/
build/
.ninja_deps
.ninja_log
CPackConfig.cmake
CPackSourceConfig.cmake
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
/ALL_BUILD.vcxproj
/ALL_BUILD.vcxproj.filters
/WaveGlitch-BressaniDev.dir/Debug/AudioFileProperties.obj
/.vs/WaveGlitch-BressaniDev/FileContentIndex/ca7228d5-a8be-45a8-96f1-a080a3a8f84d.vsidx
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CL.command.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CL.read.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CL.write.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CustomBuild.command.1.tlog
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CustomBuild.read.1.tlog
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/CustomBuild.write.1.tlog
/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
/.vs/WaveGlitch-BressaniDev/v17/fileList.bin
/INSTALL.vcxproj
/INSTALL.vcxproj.filters
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_basics.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_devices.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_formats.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_processors.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_processors_ara.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_processors_lv2_libs.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_audio_utils.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_core.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_data_structures.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_events.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_graphics.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_gui_basics.obj
/WaveGlitch-BressaniDev.dir/Debug/juce_gui_extra.obj
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/link.command.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/link.read.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/link.write.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/Main.obj
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/OctaSplit.lastbuildstate
/WaveGlitch-BressaniDev.vcxproj
/WaveGlitch-BressaniDev.vcxproj.filters
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit_resources.res
/PACKAGE.vcxproj
/PACKAGE.vcxproj.filters
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/rc.command.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/rc.read.1.tlog
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/rc.write.1.tlog
/.vs/WaveGlitch-BressaniDev/FileContentIndex/read.lock
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/unsuccessfulbuild
/WaveGlitch-BressaniDev.dir/Debug/vc143.pdb
/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
/ZERO_CHECK.vcxproj
/ZERO_CHECK.vcxproj.filters
/.vs/WaveGlitch-BressaniDev/FileContentIndex/2bb6de5f-5f76-461a-91ad-7c9b80c82a97.vsidx
/.vs/WaveGlitch-BressaniDev/v17/Browse.VC.db-shm
/.vs/WaveGlitch-BressaniDev/v17/Browse.VC.db-wal
/.vs/WaveGlitch-BressaniDev/v17/Browse.VC.opendb
/.vs/WaveGlitch-BressaniDev/FileContentIndex/cd24e514-d7ab-4249-b568-d4f449294840.vsidx
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.tlog/Cl.items.tlog
/.vs/WaveGlitch-BressaniDev/FileContentIndex/d99af8c7-935e-4e29-b48a-8766cd873223.vsidx
/WaveGlitch-BressaniDev_artefacts/Debug/Assets/drag_and_drop_wav.svg
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.exe.recipe
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.ilk
/WaveGlitch-BressaniDev_artefacts/Debug/OctaSplit.pdb
/WaveGlitch-BressaniDev.dir/Debug/OctaSplit.vcxproj.FileListAbsolute.txt
/.vs/WaveGlitch-BressaniDev/v17/Solution.VC.db-shm
/.vs/WaveGlitch-BressaniDev/v17/Solution.VC.db-wal
/Info.plist
